
section.dashboard {
    width: 100%;
    height: 2000px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* overflow-y: auto; */
}

.dashboard-container {
    width: 100%;
    max-width: 1600px;
    min-height: 320px;
    height: fit-content!important;
    background-color: white;
    display: block;
    /* position: relative; */
}

.head {
    width: 100%;
    height:  32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    float: left;
    font-weight: 600;
    margin: 0;
    font-size: 20px;
    width: 50%;
    padding-left: 1rem;
}

.edit-profile {
    float: right;
    margin: 0;
    width: 50%;
    text-align: end;
    padding-right: 1rem;
}

.edit-profile-btn {
    width: fit-content;
    float: right;
}

.edit-profile-btn:hover {
    cursor: pointer;
    color: black!important;
}

.head-divider {
    width: 100%;
    height: 16px;
    display: flex;
}

.divider-item {
    width: inherit;
    height: 3px;
    background: gray;
    border-radius: 16px;
    align-self: center;
}

.image-uploader {
    width: 126px;
    height: 126px;
    background-color: gainsboro;
    border-radius: 16px;
    filter: drop-shadow(0 0 0.125rem black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-uploader > i {
    font-size: 24px;
}

.image-uploader:hover {
    transform: scale(1.03);
}

.account-info {
    font-size: 20px;
}

.mybookings-container {
    width: 100%;
    height: 100%;
}

.mybookings {
    margin-top: 16px;
    width: 100%;
    height: calc(100% - 20px - 16px - 12px);
    /* background-color: red; */
    overflow: auto;
}

.mybookings-thead {
    width: 1000px;
}

.cancel-booking-btn {
    width: fit-content;
    height: 24px;
    background-color: var(--primary-color);
    opacity: 0.5;
    border: none;
    color: white;
    font-weight: 600;
}

.cancel-booking-btn:hover {
    transform: scale(1.03);
    opacity: 1;
}

.modal-dialog {
    margin-top: 64px!important;
}


@media only screen and (max-width: 768px) {
    /* stop bootstrap hiding table on low resolutions */
    [class*="tab"] {
        display: block!important;
    }

    .mybookings {
        display: flex;
        justify-content: center;
        align-content: center;
        /* flex-direction: column; */
    }
}