.account-dashboard {
    width: 100%;
    height: 100%;
    /* background-color: white; */

}

.account-manage {
    height: fit-content;
    max-width: 1366px;
}

.account-dashboard > div {
    max-width: 1366px;
}

.profile-image {
    width: 100%;
    height: 100%;
    min-width: 128px;
    min-height: 128px;
    max-height: 128px;
    max-width: 128px;
    background-color: gainsboro;
    border: 1px solid white;
    filter: drop-shadow(0 0 0.55rem black);
}

.profile-image > img {
    width: 128px;
    height: 128px;
    
}
/* 
.profile-image > img {
    border: 1px solid white;
    filter: drop-shadow(0 0 0.55rem black);
} */


.profile-user {
    width: calc(100% - 128px);
    height: 100%;
}

.profile-user,
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-icon {
    color: black;
    font-size: 2rem;
}

.profile-image:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.profile-image:hover img {
    display: none;
}

.profile-image:not(:hover) .upload-icon {
    display: none;
}

.profile-image:active {
    transform: scale(1.1);
}


.user-fullname,
.user-fullname > p,
.user-email,
.user-email > p {
    width: 100%;
}

.head-text-account,
.head-text-dashboard {
    font-weight: 600!important;
    font-size: 2rem!important;
    text-align: left!important;
}

@media only screen and (max-width: 576px) {
    .head-text-account {
        font-weight: 600!important;
        font-size: 1.5rem!important;
        text-align: center!important;
    }

    .user-fullname,
    .user-email {
        text-align: left!important;
    }

    
}

/* 
@media only screen and (max-width: 1365px) {
    .btn-signout,
    .btn-signout > button {
        min-width: 100%!important;
    }

}

@media only screen and (min-width: 1366) {
} */