
/* --primary-color: #212529;
--secondary-color: #1B1B1B;
--tertiary-color: #121212;
--text-color: white; */

.main {
    padding: 1rem;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-account {
    display: grid;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    grid-template-rows: 256px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "grid-account"
    "grid-content";

}

.account {
    grid-area: grid-account;
    background-color: white;
    border-radius: 1rem;
}

.contents {
    grid-area: grid-content;
    background-color: white;
    border-radius: 1rem;
}

.nav-container {
    width: 100%;
    height: 32px;
    /* background-color: gray; */
    /* border: 1px solid purple; */
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem;

    display: flex;
    justify-content: end;
    align-items: center;
}

.dotted-button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);

    display: inline-block;
}

.dotted-button:hover {
    transform: scale(1.03);
    
}

.account-container {
    width: 100%;
    height: calc(100% - 32px);
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: inline-block;
    /* float: left; */
    width: calc(50% - 2px);
    height: 100%;
    /* background-color: red; */
    border-radius: inherit;
    border-bottom-right-radius: 0;
    padding: 0.5rem;
}

.profile-head {
    width: 100%;
    height: 24px;
    text-align: center;
}

.profile-head > p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.profile-content {
    width: 100%;
    height: calc(100% - 24px);
    /* border: 1px solid black; */
    padding: 0.5rem;

    position: relative;
}

.profile-content > div {
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
    /* border-radius: 16px; */
}

.profile-content > div:nth-child(2) {
    height: 40%!important;
}

.profile-picture {
    width: 50%;
    height: 100%;
    /* background-color: gray; */
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gray {
    width: 80px;
    height: 80px;
    border-radius: 30%;
    background-color: gainsboro;
    border: 1px solid black;
    filter: drop-shadow(0 0 0.3rem black);
}

.profile-picture > .image-gray {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* size: 1.5rem; */
}

.image-gray:hover {
    cursor: pointer;
    background-color: gray;
}

.profile-picture > .image-gray > img {
    position: relative;
    object-fit: contain;
    object-position: center;
    width: 78px;
    height: 78px;
    border-radius: inherit;
    /* border: 1px solid black; */
    /* filter: drop-shadow(0 0 0.3rem black); */
}

.profile-picture > .image-gray:hover > img {
    display: none;
}

.upload-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-img > i {
    font-size: 1rem;
}

.profile-picture > .image-gray:not(:hover) > .upload-img {
    display: none;
}

.profile-account-name {
    width: 50%;
    height: 100%;
    /* align-self: end; */
    /* background-color: red; */
    float: left;
    /* display: inline-block; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-account-name > p {
    margin: 0;
    font-weight: 500;
}

.profile-account-email {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* display: block; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-account-email > p {
    margin: 0;
}

.vertical-divider {
    display: inline-block;
    height: 90%;
    width: 4px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 16px;
}

.horizontal-divider {
    display: block;
    width: 100%;
    height: 4px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 16px;
}

.activity {
    display: inline-block;
    width: calc(50% - 2px);
    height: 100%;
    /* background-color: red; */
    border-radius: inherit;
    border-bottom-left-radius: 0;
    padding: 0.5rem;
}

.activity-head {
    width: 100%;
    height: 24px;
}

.activity-head > p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .profile-account-name,
    .profile-account-email {
        font-size: 0.8rem;
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    /* .profile-account-email {
        width: 50%;
    } */
}