section.admin-portal-head {
    width: 100%;
    height: fit-content;
    background: var(--primary-color);
    position: relative;
    display: block;
}

.admin-portal-path {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.portal-path-url {
    font-size: 24px;
    /* font-weight: 500; */
    float: left;
    color: white;
    margin: 0;
}

.todays-date {
    width: 100%;
    height: 128px;
    /* background-color:#fff; */
}

.todays-date-text {
    font-size: 0.875rem;
    /* font-weight: 400; */
    color: rgb(255, 255, 255);
}

.admin-portal-stats { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "total-sales total-bookings total-bookings-refunded";
    height: 100%; /* 256px */
    max-width: 1600px;
  }
  
.total-sales {
    grid-area: total-sales;
}
  
.total-bookings {
    grid-area: total-bookings;
}
  
.total-bookings-refunded {
    grid-area: total-bookings-refunded;
}

.admin-portal-stats-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-portal-stats > div {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.55rem black);
}

.admin-portal-stats > div > div:hover {
    background-color: white;
}


.admin-stat-totals {
    width: 100%;
    height: 200px;
    /* border-radius: 16px; */
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

section.admin-portal-insights {
    width: 100%;
    height: 100%;
    /* background-color: var(--secondary-color); */
}

.stats-seperator {
    margin-top: 128px;
    margin-bottom: 128px;
}

.admin-portal-insight-stats { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "monthly-sales sales-of-journey"
      "top-customers permissions";
    height: 100%;
    width: 100%;
    max-width: 1600px;
    overflow-y: auto;
  }
  
.monthly-sales {
    grid-area: monthly-sales;
}
  
.sales-of-journey {
    grid-area: sales-of-journey;
}
  
.top-customers {
    grid-area: top-customers;
}
  
.permissions {
    grid-area: permissions;
}

.admin-portal-insight-stats > div {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.55rem black);
    min-height: 437.5px;
}

/* .admin-portal-insight-stats > div,
.admin-portal-insight-stats > div > div {
    border-radius: 30%;
} */
  
.admin-insights {
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: pointer;
    padding: 16px;
}

.admin-insights:hover {
    border-radius: 32px;
    transition-duration: 500ms;
}

.admin-insights:not(:hover) {
    transition-duration: 500ms;
}

.heading {
    width: 100%;
    /* height: 64px; */
    height: fit-content;
    max-width: 1600px;
    margin-bottom: 16px;
}

.heading-text {
    font-size: 36px;
    color: white;
    margin: 0;
}

.stat-heading {
    width: 100%;
    height: 24px;
    display: block;
}

.stat-heading-text {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.stat-body {
    width: 100%;
    height: calc(100% - 24px);
    display: block;
}

.stat-body-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.stat-text {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

[class*="total-"]:hover {
    transform: scale(1.03) translateY(-20px);
    transition-duration: 500ms;
}

[class*="total-"]:not(:hover) {
    transition-duration: 500ms;
}


.journeys {
    width: 100%;
    height: 75%;
    background-color: #fff;
    display: block;
    max-width: 1600px;
}

.active-journeys {
    overflow-y: auto;
    max-height: 304px;
}

.admin-portal-account-list,
.admin-portal-journey-list {
    width: 100%;
    height: 100%;
}


/* Charts */
.monthly-sales-canvas {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

.modebar-btn--logo {
    display: none!important;
}

/* #modebar-1a27d9 > div:nth-child(1) >  */

@media only screen and (max-width: 768px) {
    .admin-portal-stats { 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        grid-auto-flow: row;
        grid-template-areas:
          "total-sales"
          "total-bookings"
          "total-bookings-refunded";
      }

      .admin-portal-insight-stats { 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 16px;
        grid-auto-flow: row;
        grid-template-areas:
        "monthly-sales"
        "sales-of-journey"
        "top-customers"
        "permissions";
      }

      .admin-portal-insight-stats::-webkit-scrollbar {
        display: none;
      }


      /* .admin-portal-insight-stats > div {
        width: 437.5px;
      } */

      .todays-date {
        height: fit-content;
      }

      /* click item change z index to display info */
      .admin-portal-stats > div {
        max-height: 25px;
      }
      
    [class*="total-"]:hover {
        transform: translateY(-20px);
        transition-duration: 500ms;
    }

    .journey-submits {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .account-submit-btn,
    .journey-submit-btn {
        width: 200px!important;
    }

    .monthly-sales-canvas {
    }

      /* .admin-portal-stats > div > div:hover {
        border-top-right-radius: 16px;
      } */

      /* .admin-portal-stats > div > div:not(:hover) {
        border-top-right-radius: 24px;
      } */


}

/* @media only screen and (max-width: 768px) {
    .admin-portal-stats { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
        grid-auto-flow: row;
        grid-template-areas:
          "total-sales total-bookings"
          "total-bookings-refunded total-bookings-refunded";
      }
} */