section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 1rem;
}

.container-booking-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.6fr 1.4fr;
    grid-template-areas: 
      "booking-nav booking-nav booking-nav"
      "booking-leaving booking-return booking-basket";
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.booking-nav {
    grid-area: booking-nav;
}

.booking-leaving {
    grid-area: booking-leaving;
}

.booking-return {
    grid-area: booking-return;
}
  
.booking-basket {
    grid-area: booking-basket;
}

.booking-container {
    grid-area: booking-container;
    display: none;
}


/* Booking navigation bar */
.pages-booking-nav > .box {
    height: calc(100% - 32px);
    border-radius: 0!important;
}

/* Pages mobile mode */
.pages-mobile-booking-search {
    position: relative;
    display: block;
}

.reset {
    width: 100%!important;
    height: 25%!important;
    border-radius: 0!important;
    background-color: #FFF!important;
}

.location,
.out-return,
.passengers-seats,
.search {
    background-color: #FAF9F6;
    border-radius: 8px;
    height: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.location-from-input {
    display: block;
    width: 100%;
    height: calc(50% - 0.5px);
    background-color: rgb(242,242,242);
    border: transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    outline: none;
    padding: 0.5rem;
}

.location-divider-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1px;
}

.location-divider {
    display: block;
    width: 90%;
    height: 1px;
    background-color: gray;
}

.location-to-input {
    display: block;
    width: 100%;
    height: calc(50% - 0.5px);
    background-color: rgb(242,242,242);
    border: transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
    padding: 0.5rem;
}

.location-from-input:hover,
.location-from-input:active,
.location-to-input:hover,
.location-to-input:active,
.out:hover,
.out:active,
.return:hover,
.return:active,
.passengers:hover,
.passengers:active,
.seats:hover,
.seats:active {
    background-color: #FAF9F6;
}

.out,
.return,
.passengers,
.seats {
    width: calc(50% - 0.2rem);
    height: 100%;
    background-color: rgb(242,242,242);
    border-radius: 8px;
}

.out,
.passengers {
    float: left;
    margin-right: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

[class*="out-bound"],
[class*="returning-"],
[class*="passengers-"],
[class*="seat-class-"] {
    text-align: center;
}

.returning-day > i {
    font-size: 2rem;
}

.out-bound-head,
.returning-head,
.passengers-head,
.seat-class-head {
    font-size: 1.1rem;
    font-weight: 500;
}

.return,
.seats {
    float: right;
    margin-right: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Pages larger screens */
.pages-booking-search {
    display: none!important;
}


@media only screen and (max-width: 1365px) {
    /* Version of booking for medium sized screens */
    .container-booking-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.6fr 1.4fr;
        grid-template-areas: 
          "booking-nav booking-nav"
          "booking-leaving booking-return";
        gap: 0.5rem;
        width: 100%;
        height: 100%;
    }

    .booking-basket {
        display: none;
    }

}

@media only screen and (max-width: 576px) {
    /* Hide desktop version of booking and convert departure into the main container */
    .container-booking-grid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        grid-template-areas: 
          "booking-nav";
        gap: 0.5rem;
        width: 100%;
        height: 100%;
    }

    .booking-return,
    .booking-leaving,
    .booking-basket {
        display: none;
    }
}

@media only screen and (min-width: 577px) {
    .pages-booking-search {
        display: unset!important;
    }

    .pages-mobile-booking-search {
        display: none!important;
    }
}

@keyframes page-fade {
    0% {
        display: initial;
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        display: none;
    }
}