:root {
    --p-none: 0!important;
    --m-none: 0!important;
}

/* Removes padding and/or margin from elements */
.p-none { padding: 0!important; }
.m-none { margin: 0!important; }

/* All sections have these attributes */
section {
    display: block;
    width: 100%;
    height: 100%;
}

section.landing {
    background-color: gray;
    position: relative;
}

section.landing > img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.landing-content {
    width: 100%;
    height: 100%;
    margin: var(--p-none);
    padding: var(--p-none);

    position: absolute;
    top: 0;
    left: 0;

}

.landing-content > .row {
    height: 100%;
    margin: 0!important;
}

.landing-content[class*="col-"] {
    height: 100%;
    width: 100%;
}

.landing-col {
    border: 1px solid white;
}


/* Media queries */
@media only screen and (max-width: 768px) {
    /* Update sections responsiveness */
    section.landing {
        width: 100%;
        height: calc(100vh - 64px);
        /* background-color: blue; */
    }

}

@media only screen and (min-width: 769px) {

}