:root {
    --p-none: 0!important;
    --m-none: 0!important;
    
    --primary-color: #212529;
    --secondary-color: #1B1B1B;
    --tertiary-color: #121212;
    --text-color: white;
}

/* Removes padding and/or margin from elements */
.p-none { padding: 0!important; }
.m-none { margin: 0!important; }

/* All sections have these attributes */
section {
    display: block;
    width: 100%;
    height: 100%;
}

section.landing {
    /* background-color: gray; */
    position: relative;
}

section.landing > img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.landing-content {
    width: 100%;
    height: 100%;
    margin: var(--p-none);
    padding: var(--p-none);

    position: absolute;
    top: 0;
    left: 0;

}

.landing-content > .row {
    height: 100%;
    margin: 0!important;
}

.landing-content[class*="col-"] {
    height: 100%;
    width: 100%;
}

/* landing top container */
.landing-col.top {
    /* border: 1px solid purple; */
    /* background-color: var(--primary-color); */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    height: 50%;
}

.landing-header {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.landing-text {
    padding-right: 5px;
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    overflow: hidden;
    max-width: fit-content;
    white-space: nowrap;
}

/* landing bottom container */
.landing-col.bottom {
    /* border: 1px solid purple; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.tab-container {
    height: 90%;
    width: 90%;
    padding: 1rem;
}

.tab {
    width: 100%;
    height: 36px;
    overflow: hidden;
}

.tab-link {
    width: 90px;
    height: 36px;
    background-color: var(--secondary-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: inline-block;
}

.tab-link:hover {
    border-left: 5px solid black;
}

.tab-content {
    width: 100%;
    height: calc(100% - 36px);
    background-color: white;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.landing-col-button {
    width: 100%;
    height: 100%;
}

.landing-col.bottom > a {
    width: 100%;
    max-width: 250px;
    color: var(--secondary-color);
    font-size: large;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.landing-col.bottom > a.book {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

.landing-col.bottom > a.trip {
    background-color: none;
    color: white;
    font-weight: 400;
    border: 2px solid white;
}

.landing-col.bottom > a.book:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
}

.landing-col.bottom > a.trip:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
}

section.travel {
    position: relative;
    background-color: #1B1B1B;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-content: center;
}

.travel-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    /* Set max width of cards to stop blowout */
    max-width: 1920px;
}

.travel-container > div {
    margin: 0!important;
    padding: 1rem;
}

.travel-container > div > div {
    /* border: 1px solid blue; */
}

.card {
    filter: drop-shadow(0 0 0.55rem black);
    border-radius: 15px;
    border: 0;
}

.card:hover {
    transform: scale(1.03);
    border: 1px solid white;
    cursor: pointer;
}

.card-body {
    height: 136px;
    max-height: 136px;
}

.card > img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: gray;
}

/* Adds some padding to the location icon in card head */
.card-title > i {
    margin-right: 0.5rem;
}

/* Align title and address in card */
.card-body {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

/* Location address  */
.address {
    margin-left: 0.5rem;
    color: gray;
}




/* BOOKING SECTION CSS */

section.booking {
    background-color: #121212;
    height: fit-content;
    /* height: 1000px; */
}

.section-head {
    width: 100%;
    height: fit-content;
}

.head-text {
    width: inherit;
    height: inherit;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.booking-content {
    width: inherit;
    height: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booking-content > form {
    width: 100%;
    max-width: 720px;
    min-height: 320px;
    background-color: #fff;
    position: relative;
    display: block;
}

.params {
    min-width: 100%;
    /* border: 1px solid blue; */
}

.divider-parent {
    width: 100%;
}

.divider {
    border: 2px solid gainsboro;
    border-radius: 16px;
}

.radians {
    border-radius: 12px;
}

.radios {
    height: fit-content;
    float: left;
    max-width: fit-content;
}

.radios-left {
    float: left;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.radios-right {
    float: right;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.radios-left > input,
.radios-right > input {
    height: 24px;
    width: 24px;
}

.radios-left > label,
.radios-right > label {
    font-size: 19px;
    font-weight: 500;
    margin-left: 0.5rem;
}

.radios-left, .radios-right {
    float: left;
}

input[type="radio"] {
    /* -webkit-appearance: none; */
    appearance: none;
    background: gray;
    border-radius: 50%;
}

input[type="radio"]:hover {
    filter: drop-shadow(0 0 0.14rem black);
}

input[type='radio']:checked {
    background: var(--primary-color);
}

.params-box {
    width: 100%;
    height: 120px;
    /* background-color: gainsboro; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid gainsboro;
}

.params-box:hover {
    filter: drop-shadow(0 0 0.14rem black);
    /* border-left: 1px solid black; */
    background-color: #FAF9F6;
}

/* .params-box:active {
    transform: scale(1.025);
} */

.btn-datetime-remove:active {
    transform: scale(1.025);
}

.no-effect {
    filter: none!important;
    transform: none!important;
    border: none!important;
}

.fit-items {
    height: fit-content!important;
}

.search {
    height: 60px!important;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    width: 100%;
    margin: 0;
}

.search-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    color: white;
}

.swing,
.locations {
    width: 100%;
    height: 100%;
    position: relative;
}

.swing > div,
.locations > div {
    display: inline-block;
}

.swing-from,
.locations-from {
    float: left;
    width: calc(50% - 3px);
    height: 100%;
    padding: 0.5rem;
}

.container-w-100 {
    width: 100%!important;
}

.vertical-divider {
    width: 4px;
    height: calc(100% - 20px);
    background-color: gainsboro;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
}

.swing-to,
.locations-to {
    float: right;
    width: calc(50% - 3px);
    height: 100%;
    padding: 0.5rem;
}

.locations-to,
.locations-from {
    /* max-width: 360px; */
}

.container-head {
    display: block;
    width: 100%;
    height: 24px;
}

.container-body {
    display: block;
    width: 100%;
    height: calc(100% - 48px);
}

.container-foot {
    display: block;
    width: 100%;
    height: 24px;
}

.container-title {
    width: fit-content;
    height: 24px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title-text {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.container-title-icon {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.container-body-text {
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container-foot-text {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.float-right {
    float: right!important;
}

.float-left {
    float: left!important;
}

.btn-datetime-remove {
    margin: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-datetime-remove > p {
    font-size: 12px;
    margin: 0;
}

.container-foot-text > i {
    float: left;
}

.container-foot-text > p {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 15px;
    float: right;

}

#page-locations,
#page-swing {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: red; */
    z-index: 15000;
    display: none;
}

.container-page-locations {
    border: 1px solid #121212;
    background-color: #fff;
}
.container-page-swing {
    border: 1px solid #121212;
    background-color: #fff;
}

.input-text-group {
    display: block;
    position: relative;
}

/* #search-filter {
    width: fit-content;
    height: fit-content;
    background-color: red;
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

.menu-scrollable {
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}

/* input[type="date"] {
    background-color: red;
} */

/* 
.booking-nav-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.4fr 0.6fr; 
    grid-template-areas: 
      "params-location params-swing params-traveller"
      "search-options search-options search-options";

    width: 100%;
    height: 100%;
}

.params-location {
    grid-area: params-location;
}
  
.params-swing {
    grid-area: params-swing;
}
  
.params-traveller {
    grid-area: params-traveller;
}
  
.search-options {
    grid-area: search-options;
}

.search-options > div > button {
    font-weight: 400;
} */

/* Media queries */
@media only screen and (max-width: 768px) {
    /* Update sections responsiveness */
    section.landing {
        width: 100%;
        height: calc(100vh - 64px);
        /* background-color: blue; */
    }

    [class*="tab"] {
        display: none;
    }

    .landing-col.bottom {
        flex-direction: column;
    }

    .landing-col.bottom > a {
        margin: 0.5rem;
    }

    .head-text {
        font-size: 1.2rem;
    }

    .booking-content > form {
        height: 100%;
        width: 100%;
        
    }

    .booking-nav-container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
          "params-location"
          "params-swing"
          "params-traveller"
          "search-options";
    
        width: 100%;
        height: fit-content;
    }

    .radios-left > input,
    .radios-right > input {
        height: 16px;
        width: 16px;
    }

    .radios-left > label,
    .radios-right > label {
        font-size: 13px;
        font-weight: 400;
        margin-left: 0.5rem;
    }

    .container-foot-text,
    .container-body-text {
        font-size: 0.875rem;
    }
    
    .container-foot-text > p {
        font-size: 0.75rem;
    }

    .booking-content {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    /* .booking-nav-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1.2fr 1.2fr 0.6fr; 
        grid-template-areas: 
          "params-traveller params-swing"
          "params-location params-location"
          "search-options search-options";
    
        width: 100%;
        height: 100%;
    } */
}

@media only screen and (min-width: 1366px) {
}