/* This file is used to modify bootstrap css */

.card:hover {
    transform: scale(1.1);
}

.card {
    transition: transform .5s;
}

.navbar-toggler-icon:focus,
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.div-hamburger {
    margin: 0;
    padding: 0;
    background-color: red;
} 