* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    font-size: 16px;
    margin: 0;
    padding: 0;

    /* Set color vars to change themes */
    --primary-color: #FFFFFF;
    --secondary-color: #212529;
    --tertiary-color: #FFFFFF;
    --text-color: black;


    /* Padding variables */
    --p-0: 0;
    --p-1: 1rem*0.25;
    --p-2: 1rem*0.5;
    --p-3: 1rem;
    --p-4: 1rem*1.5;
    --p-5: 1rem*3;

    /* Margin variables */
    --m-0: 0;
    --m-1: 1rem*0.25;
    --m-2: 1rem*0.5;
    --m-3: 1rem;
    --m-4: 1rem*1.5;
    --m-5: 1rem*3;

    /* Breakpoints */
    --bp-s: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200;
    --bp-xxl: 1400px; 
}


/* Modify scroll bar */
/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
} */

/* HTML, body and dark theme */
html, body {
    height: 100%;
    width: 100%;
}

html [data-theme="dark"] {
    --primary-color: #212121;
    --secondary-color: #161616;
    --tertiary-color: #121212;
    --text-color: #FFFFFF;
}



/* Page grid layout */
.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 64px;

    /* Desktops and larger screens */
    grid-template-areas: 
        "navbar main"
        "sidebar main"
        "sidebar main"
        "sidebar footer";

    color: var(--text-color);
}

.grid-container > #navbar {
    background-color: var(--secondary-color);
    grid-area: navbar;
}

.grid-container > #sidebar {
    background-color: var(--secondary-color);
    grid-area: sidebar;
    
}

.grid-container > #main {
    background-color: var(--primary-color);
    grid-area: main;
}

.grid-container > #footer {
    /* background-color: #eeeeee; */
    grid-area: footer;
}

@media only screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }

    /* Mobile mode */
    .grid-container {
        grid-template-areas: 
        "navbar navbar"
        "main main"
        "main main"
        "footer footer";
    }
}

/* Top navigation bar */
.grid-nav {
    display: block;
    position: fixed;
    width: 100%;
    height: 64px;

}

.grid-nav-brand-parent {
    height: 64px;
    width: 200px;
}

.grid-nav-brand {
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-nav-brand-text {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;

}

.grid-nav-brand-text:hover {
    color: white;
}

/* Top navbar */
.grid-nav-nav-parent {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100vw - 200px);
    height: 100%;
    padding-right: var(--p-3);
}

/* Hamburger container */
.hamburger {
    float: right;
    height: 64px;
    width: 64px;
    
    /* Align toggle-navbar button to center of hamburger */
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: fit-content;
    width: fit-content;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    
    /* Centers icon to middle of button */
    display: flex;
    justify-content: center;
    align-items: center;

}

.hamburger button {
    color: white;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
}

.hamburger button:focus {
    transform: rotate(90deg);
    transition: 0.1s ease-in-out;
}

.hamburger > button > i {
    font-size: 2rem;
}

/* Navbar top account button */
.grid-nav-account-button {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
}

.grid-nav-account-button > button {
    /* Match width and height to size of other elements */
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    outline: none;
}

.grid-nav-account-button > button:hover {
    border-radius: 30%;
}

.grid-nav-basket-button {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
}

.grid-nav-basket-button > button {
    /* Match width and height to size of other elements */
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    outline: none;
}

.grid-nav-basket-button > button:hover {
    border-radius: 30%;
}

@media only screen and (min-width: 769px) {

    .toggle-navbar {
        display: none
    }

    .grid-nav-nav-parent > * {
        display: none
    }

    .grid-nav-nav-parent {
        display: none
    }

    .grid-nav {
        width: 200px;
    }
}

/* Hide element past breakpoint */
@media screen and (max-width: 576px) {
    .grid-nav-account-button,
    .grid-nav-account-button > * {
        display: none;
    }
    .grid-nav-basket-button,
    .grid-nav-basket-button > * {
        display: none
    }
}

/* Top Nav dropdown */
.grid-nav-nav-dropdown {
    width: 100%;
    height: 300px;
    background-color: red;
}

.grid-nav-nav-dropdown-item {
}






/* Left Sidebar */
.grid-sidebar {
    display: block;
    position: fixed;
    top: 64px;
    width: 200px;
    height: calc(100vh - 64px);
}

/* Places divider elements in sidebar as a block */
.grid-sidebar-divider-parent {
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid-sidebar-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    border: 3px solid white;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin: 0.5rem;
}

/* Places navigation sidebar in grid-sidebar as a block */
.grid-sidebar-nav-parent {
    display: block;
    background-color: var(--secondary-color);
    width: 100%;
    height: calc(100% - 75px - 14px - var(--p-2));

    /* May need to change this due to formatting */
    padding: 1rem;
}

/* Sidebar nav parent */
.grid-sidebar-nav-parent > div {
    margin-bottom: 30px;
}

.grid-sidebar-nav-heading {
    display: block;
    color: var(--tertiary-color);
    margin-bottom: 8px;
}

.grid-sidebar-nav-heading > span {
    font-weight: 600;
}

.grid-sidebar-nav-item {
    display: block;
    margin-bottom: 8px;
    color: gray;
}

.grid-sidebar-nav-item:hover {
    color: var(--tertiary-color);
    font-weight: 500;
}

.hover-circle {
    float: right;
    width: 12px;
    height: 12px;
    top:50%;
    background-color: gray;
    border-radius: 10px 10px 0px 10px;
    /* transform: rotate(45deg); */
    visibility: hidden;
    transform: translateY(50%) rotate(135deg);
}

.grid-sidebar-nav-item > label {
    width: 100% - 12px;
    height: 100%;
}

.grid-sidebar-nav-item > label > i {
    width: 26px;
}

.grid-sidebar-nav-item:hover > .hover-circle {
    visibility: visible;
}

.grid-sidebar-nav-item:active > .hover-circle.click {
    transform: translateX(-5px) translateY(50%) rotate(135deg);
}

.grid-sidebar-nav-item:active > .hover-circle.dropdown {
    top: 50%;
    transform: translateY(50%) rotate(45deg);
    
}

/* Sidebar footer */
.grid-sidebar-footer-parent {
    display: block;
    width: 100%;
    height: 75px;
    background-color: #121212;
}

.grid-sidebar-footer {
    width: 100%;
    height: 75px;
    padding: 0.5rem;
    /* border: 1px solid red; */
}

.grid-sidebar-footer-left {
    width: calc(100% - 57px);
    height: 100%;
    padding: 0.5rem;
    float: left;
    
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.grid-sidebar-footer-right {
    width: 57px;
    height: 100%;
    float: right;

    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.grid-sidebar-footer-right > button {
    width: 57px;
    height: 57px;
    border: 2px solid white;
    border-radius: 50%;
    outline: none;
}

.grid-sidebar-footer-right > button:hover {
    border-radius: 30%;
    /* transform: 0.5s; */
}

.grid-sidebar-footer-right > button:active {
    transform: scale(0.95)
}

.small-text {
    font-size: 0.8rem;
    color: white;
}

.small-text.username {
    font-size: 0.9rem;
}

/* Main */
.grid-container > #main {

    /* Adds padding to main container for contents */
    padding: 1rem;
    height: 100%;
}

@media screen and (max-width: 768px) {

    /* Move footer up when screen resized if no contents */
    .grid-container > #main {
        padding: 1rem;
        height: fit-content;
    }
    
}


/* Footer */
.grid-footer {
    width: 100%;
    height: 75px;
}

.grid-container > .grid-footer {
    background-color: #f0f0f0;
}

.grid-footer-parent {
    width: 100%;
    height: 100%;
}

/* .grid-footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
} */

.grid-footer-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.copyright {
    text-align: start;
    width: 70%;
}

.terms-and-conditions {
    text-align: end;
    width: 30%;
}