.payment-wall {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.payment-box {
    width: 100%;
    height: 800px;
    max-width: 512px;
    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(0 0 0.55rem black);
    
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: relative;
    left: 50%;
    /* top: 50%; */
    transform: translateX(-50%);
}

.payment-container {
    width: 100%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment-container-info {
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
}

.payment-container > div {
    margin: 2rem;
}

.payment-icon-success {
    min-width: 196px;
    min-height: 196px;
    border-radius: 50%;
    border: 12px solid #00d459;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 0ms;
}

.payment-icon-success > i {
    font-size: 114px;
    color: #00d459;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 150ms;
}

.payment-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.payment-info {
    display: block;
    width: 100%;
    height: 70%;
    /* border: 1px solid red; */
}

.payment-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    /* border: 1px solid green; */
}

.fade-in {
    animation: fade-in 2s;
    opacity: 1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* 
@media only screen and (max-height: 568px) {
    .payment-wall {
        height: fit-content!important;
    }
} */