{% extends "base.html" %}

{% block header %}{% endblock %}
{% block basecss %}{% endblock %}
{% block link %}<link href="{{url_for('static',filename='css/login_page.css')}}" rel="stylesheet">{% endblock %}

{% block main %}

    <div class="container-fluid vh-100">
        <div class="row">
            <div class="login-wrapper col-8">
                <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
                    <div>
                        <div class="d-block w-100">
                            <p class="display-2 text-center font-bold m-5"><strong>Login to your account</strong></p>

                        </div>
                        
    
                        <div class="d-block w-100">
                            <form action="#" method="post" class="">
                                <div class="border border-0">
                                    <div class="form-group m-2">
                                        <label for="loginEmail" class="form-label"><strong>Email Address</strong></label>
                                        <input type="text" id="loginEmail" name="loginEmail" required placeholder="Enter email" value="{{
                                            request.form.loginEmail }}" class="form-control">
                                    </div>
                                    <div class="form-group m-2">
                                        <label for="password" class="form-label"><strong>Password</strong></label>
                                        <input type="password" id="password" name="password" required placeholder="Enter password" value="{{
                                            request.form.password }}" class="form-control" data-bs-toggle="password">
                                    </div>
                                    <div class="form-group m-2">
                                        <button type="submit" class="btn btn-primary form-control bg-gradient">Login</button>
                                    </div>
                                    <div class="form-group m-2 text-center">
                                        <label class="form-label"><strong>No account? <span>Register <a href="{{url_for('auth.register')}}" class="text-decoration-none">here</a>.</strong></span></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 right-wrapper">
                <div class="container flex-column h-100 w-100 d-flex justify-content-center align-items-center">
                    <div class="rw-container">
                        <p class="display-3 text-center d-block text-light font-bold"><strong>New User?</strong></p>
                        <p class="h5 text-center d-block text-light">Sign up today and experience travel and amazing prices!</p>
                        <div class="container m-5 d-block mx-auto">
                            <a class="btn btn-lg d-block w-50 d-block button mx-auto" href="{{url_for('auth.register')}}"><strong>Sign up</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block footer %}{% endblock %}