{% extends "base.html" %}
{% block title %}{{session['username'] | capitalize}} Profile{% endblock %}

{% block main %}
    <section class="main">
        <div>
            {% if session["logged_in"] %}
            <!-- Account code -->
            <div class="container bg-dark">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
        {% else %}
            <span style="font-size: 2rem">It appears you are not logged in. Please create an <a href="{{url_for('auth.register')}}">account</a> or <a href="{{url_for('auth.login')}}">login</a> to view this page.</span>
        {% endif %}
        </div>
    </section>

    <section style="background-color: red;"></section>
    <section style="background-color: blue;"></section>
{% endblock %}