{% extends "base.html" %}
{% block title %}{{session['username'] | capitalize}} Profile{% endblock %}
{% block head %}
    <link href="{{url_for('static', filename='css/account.css')}}" rel="stylesheet">
{% endblock %}


<!-- <div>
    {% if session["logged_in"] %}


    <div class="container bg-dark">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% else %}
    <span style="font-size: 2rem">It appears you are not logged in. Please create an <a href="{{url_for('auth.register')}}">account</a> or <a href="{{url_for('auth.login')}}">login</a> to view this page.</span>
{% endif %}
</div> -->

{% block main %}
    <section class="main">

        <div class="account">
            <div class="header">

                <!-- Nav button dropdown -->
                <div class="dropdown">
                    <!-- Nav button -->
                    <div class="dotted-button">
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="dropdown-content">
                        <ul class="list-group">
                            <li class="list-group-item hover">Account</li>
                            <li class="list-group-item hover">Booking</li>
                            <li class="list-group-item hover">
                                <a href="{{url_for('auth.logout')}}" class="text-decoration-none text-danger">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="title">
                    <p class="page-title">ACCOUNT</p>
                </div>
            </div>

            <div class="pages-account">
                <!-- Display information about the user  -->
                <div class="account-profile-user">
                    <div class="account-profile-user-picture">
                        <div class="frame">                        
                            <div class="upload">
                                <i class="fas fa-file-upload"></i>
                                <img src="{{url_for('static', filename='img/profileimg.png')}}">
                            </div>
                        </div>
                    </div>

                    <div class="account-profile-user-info">
                        <p class="name">{{ current_fname }} {{ current_lname }}</p>
                        <p class="email">{{ current_email }}</p>
                    </div>
                </div>
                
                <div class="account-profile-manager">
                    <form action="{{ url_for('auth.account') }}" method="post">
                        <div class="form-group mb-2">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" aria-describedby="Update User Name" value="{{ current_username }}">
                        </div>

                        <div class="form-group mb-2">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" aria-describedby="Update First Name" value="{{ current_fname }}">
                        </div>

                        <div class="form-group mb-2">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname" aria-describedby="Update Last Name"  value="{{ current_lname }}">
                        </div>
                        
                        <div class="form-group mb-2">
                            <label for="telephone">Telephone</label>
                            <input type="text" class="form-control" id="telephone" name="telephone" aria-describedby="Update Telephone" value="{{ current_telephone }}">
                        </div>

                        <div class="form-group mb-2">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" id="email" name="email" aria-describedby="Update Email" value="{{ current_email }}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary m-0">Update Account</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="pages-booking">
                <!-- Display active and previous bookings on the account -->
            </div>
        </div>
    </section>

    <script src="{{url_for('static', filename='js/account.js')}}"></script>
{% endblock %}