{% extends 'base.html' %}
{% block head %}
    <link href="{{url_for('static',filename='css/account.css')}}" rel="stylesheet">
    <!-- imports elements that will later be moved to a single css file -->
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
    <!-- Dashboard Page -->
    <section class="account-dashboard pl-3 pr-3">
        <!-- Account buttons and profile -->
        <div class="container-fluid account-manage p-0">
            <div class="section-head">
                <div class="head-text head-text-account mt-3">Account</div>
            </div>
            <div class="row w-100 h-100 m-0 g-3">
                <div class="col-sm-12 col-lg-4 p-0">

                    <div class="container h-100 p-0 text-light d-flex justify-content-center align-items-center flex-column">

                        <div class="profile-image h-100 radians m-3">
                            <div class="upload-icon"><i class="fas fa-file-upload"></i></div>
                            <img src="{{url_for('static', filename='img/profileimg.png')}}" class="radians">
                        </div>

                        <div class="user-fullname w-100 m-1">
                            <p class="name text-center m-0">{{ current_fname }} {{ current_lname }}</p>
                        </div>

                        <div class="user-email w-100 m-1">
                            <p class="email fst-italic text-center m-0">{{ current_email }}</p>
                        </div>

                        <div class="btn-signout w-100 d-flex justify-content-center align-items-center flex-column  m-3">
                            <a href="{{url_for('auth.logout')}}" class="btn btn-danger border-outline-none m-0 d-block w-75">Sign out</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4 text-light p-0 bg-light">123</div>
                <div class="col-sm-12 col-lg-4 text-light p-0 bg-light">123</div>
            </div>
        </div>

        <div class="container-fluid p-0">
            <div class="divider w-100 m-0 mt-3 d-block"></div>
        </div>

        <!-- Dashboard -->
        <div class="container-fluid account-dashboard-services mt-3">
            <div class="section-head">
                <div class="head-text head-text-dashboard">Dashboard</div>
            </div>
        </div>
    </section>
{% endblock %}