{% extends 'base.html' %}
{% block head %}
    <link href="{{url_for('static',filename='css/account.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/admin_portal.css')}}" rel="stylesheet">
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <title>Admin Portal</title>
{% endblock %}


{% block main %}
    <section class="admin-portal-head p-3">
        <div class="admin-portal-path">
            <p class="portal-path-url">
                Overview / Admin Portal
            </p>
        </div>

        <div class="todays-date">
            <p class="todays-date-text" id="update-todays-date">Cannot get todays date.</p>
        </div>

        <!-- Financial stats -->
        <div class="container-fluid w-100 admin-portal-stats-grid stats-seperator p-0">
            <div class="admin-portal-stats w-100">
                <div class="total-sales">
                    <div class="admin-stat-totals">
                        <div class="stat-heading">
                            <p class="stat-heading-text">Total Sales</p>
                        </div>
                        <div class="stat-body">
                            <div class="stat-body-flex">
                                <p class="stat-text"><i class="fa-solid fa-money-bill-trend-up"></i> {{ total_sales }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-bookings">
                    <div class="admin-stat-totals">
                        <div class="stat-heading">
                            <p class="stat-heading-text">Created Bookings</p>
                        </div>
                        <div class="stat-body">
                            <div class="stat-body-flex">
                                <p class="stat-text"><i class="fa-solid fa-plane"></i> {{ created_bookings }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-bookings-refunded">
                    <div class="admin-stat-totals">
                        <div class="stat-heading">
                            <p class="stat-heading-text">Cancelled Bookings</p>
                        </div>
                        <div class="stat-body">
                            <div class="stat-body-flex">
                                <p class="stat-text"><i class="fa-solid fa-rotate"></i> {{ total_refunded }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Insights into the brief stats above -->
    <section class="admin-portal-insights p-3">

        
        <div class="container-fluid w-100 h-100 admin-portal-stats-grid p-0">
            <div class="container-fluid w-100 heading">
                <h5 class="heading-text">Administrative Insights</h5>
            </div>
            
            <div class="admin-portal-insight-stats">
                <div class="monthly-sales">
                    <div class="admin-insights d-flex justify-content-center align-items-center">
                        <div class="monthly-sales-canvas" id="monthlySalesChart"></div>

                        <script>
                            var xMonthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                            
                            let salesData = '{{ monthly_sales | tojson }}';
                            salesData = JSON.parse(salesData); // Parse string to dict object
                            
                            salesMonths = Object.keys(salesData); 
                            console.log(salesData);
                            // console.log(salesMonths);

                            let monthlySalesData = []
                            for (let month in xMonthsOfYear) {
                                calenderMonth = xMonthsOfYear[month];

                                // Set the month and total sales to the object
                                monthlySalesData[calenderMonth] = 0;

                                for (let [key, _] in salesMonths) {
                                    salesMonth = salesMonths[key];
                                    if (calenderMonth == salesMonth) {
                                        
                                        // Update the object if sales have been made
                                        monthlySalesData[calenderMonth] = salesData[calenderMonth];
                                    }
                                }

                            }


                            //for (let month in xMonthsOfYear) {
                            //    console.log(monthlySalesData);
                            //}

                            var yMonthlySalesData = []
                            const monthlySales = Object.values(monthlySalesData).forEach(val => {
                                //console.log(val);
                                yMonthlySalesData.push(val);
                            });


                            
                            //var yMonthlySalesData = [10, 20, 30, 55, 80, 11, 39, 99, 999, 1233, 30, 250];
                            
                            var data = [{
                                x:xMonthsOfYear,
                                y:yMonthlySalesData,
                                type:"bar"
                            }];
                            
                            var layout = {title:"Net Sales Per Month"};
                            var config = {responsive: true}
                            
                            Plotly.newPlot("monthlySalesChart", data, layout, config);
                        </script>
                    </div>
                </div>
                <div class="sales-of-journey">
                    <div class="admin-insights"></div>
                </div>
                <div class="top-customers">
                    <div class="admin-insights"></div>
                </div>
                <div class="permissions">
                    <div class="admin-insights"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="dashboard p-3">

        <div class="container-fluid w-100 h-100 p-0 admin-portal-stats-grid">
            <div class="container-fluid w-100 heading">
                <h5 class="heading-text">Customise Journeys</h5>
            </div>

            <!-- Active journeys table -->
            <div class="dashboard-container p-3 mb-3">
                <div class="head">
                    <div class="title w-100 p-0">ACTIVE JOURNEYS</div>
                </div>
        
                <div class="head-divider"><div class="divider-item"></div></div>

                <div class="table-responsive active-journeys">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th scope="col">Journey ID</th>
                                <th scope="col">Departure Location</th>
                                <th scope="col">Return Location</th>
                                <th scope="col">Depart Time</th>
                                <th scope="col">Return Time</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for key, value in journey_data.items() %}
                            <tr>
                                {% for key2 in value %}
            
                                  <td>{{ journey_data[key][key2] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Add/Update or Remove Journeys -->
            <div class="dashboard-container p-3 mt-3 mb-3">
                <div class="head">
                    <div class="title w-100 p-0">MODIFY ACTIVE JOURNEYS</div>
                </div>
        
                <div class="head-divider"><div class="divider-item"></div></div>

                <form action="{{ url_for('auth.admin_portal_journeys') }}" method="post">
                    <div class="form-group mt-1">
                        <label for="departure-location">Departure Location</label>
                        <input type="text" class="form-control" name="departure-location">
                    </div>

                    <div class="form-group mt-1">
                        <label for="departure-time">Departure Time</label>
                        <input type="time" class="form-control" name="departure-time" required>
                    </div>

                    <div class="form-group mt-1">
                        <label for="return-location">Return Location</label>
                        <input type="text" class="form-control" name="return-location" required>
                    </div>

                    <div class="form-group mt-1">
                        <label for="return-time">Return Time</label>
                        <input type="time" class="form-control" name="return-time" required>
                    </div>

                    <div class="form-group mt-1 journey-submits">
                        <ul class="admin-portal-journey-list">
                            <li><p class="m-0"><span class="fst-italic">Add Journey</span> creates a new journey of the entered values.</p></li>
                            <li><p class="m-0"><span class="fst-italic">Update Journey</span> changes the current time state of existing departs and returns.</p></li>
                            <li><p class="m-0"><span class="fst-italic">Remove Journey</span> deletes a single travel route.</p></li>
                        </ul>
                        <button type="submit" name="add-journey" class="btn btn-success m-1 journey-submit-btn">Add Journey</button>
                        <button type="submit" name="update-journey" class="btn btn-warning m-1 journey-submit-btn">Update Journey</button>
                        <button type="submit" name="remove-journey" class="btn btn-danger m-1 journey-submit-btn">Remove Journey</button>
                    </div>
                </form>
            </div>


    </section>
    <script src="{{url_for('static',filename='js/admin_portal.js')}}"></script>
{% endblock%}