<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/navbar.css')}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7a98244e75.js" crossorigin="anonymous"></script>
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
    {% block header %}

        {% block navbar %}
            <a class="navbar-toggler-close collapsed" aria-label="Navbar toggle" aria-expanded="false"></a>

            <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        
                        <!-- Navbar buttons -->
                        <button class="btn navbar-toggler mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0.8rem;">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        
                        <div class="btn-group">
                            <button class="btn btn-primary btn-lg dropdown-toggle mx-1" href="" type="button" id="accountDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="{{url_for('auth.account')}}">Account</a></li>
                            </ul>
                        </div>
                        
                        <a class="navbar-brand style" href="{{url_for('views.index')}}">Horizon Travels</a>
                        <!-- Navbar buttons -->
                    </div>
        
                    <!-- Navbar website paths -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav navbar-nav">
        
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{url_for('views.index')}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{url_for('views.booking')}}">Booking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{url_for('views.about')}}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{url_for('views.legal')}}">Legal</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Navbar website paths -->
        
                </div>
            </nav>
        {% endblock %}

    {% endblock %}

    {% block body %}{% endblock %}
    
    {% block footer %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>