<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/modifiers.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="">

    <!-- Navigation bar -->
    {% block navbar %}
    <nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('views.index')}}">Horizon Travels</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('views.booking')}}">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" aria-current="page" href="#" id="loginDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                    
                        <div class="dropdown-menu px-2" style="">
                            <form class="form-horizontal" method="post" accept-charset="UTF-8">
                                <input class="form-control login" type="text" name="username" placeholder="Email address"><br>
                                <input class="form-control login" type="password" name="password" placeholder="Password"><br>

                                <div class="text-center">
                                    <div class="btn-group w-100">
                                        <input class="btn rounded btn-secondary me-1 w-100" type="submit" name="submit" value="Register">
                                        <input class="btn rounded btn-primary ms-1 w-100" type="submit" name="submit" value="Login">
                                    </div>
                                    <p class="m-0"><span><a id="recoverPassword" href="#" style="text-decoration: none; color: rgba(var(--fe0,0,55,107),1);">Forgotten password?</a></span></p>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    {% endblock %}
    <!-- End Navigation -->

    <!-- Content -->
    {% block content %}
    {% endblock %}
    <!-- End Content -->
    
    <!-- Page Footer -->
    {% block footer %}
    
    {% endblock %}
    <!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>