<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="{{url_for('static',filename='css/base.css')}}" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <!-- data-theme="dark" -->
  {% block body %}
  <div class="grid-container">
    <div class="grid-nav" id="navbar">
      <div class="grid-nav-brand-parent">
        <div class="grid-nav-brand">
          <a class="grid-nav-brand-text" href="{{url_for('views.index')}}">Horizon Travels</a>
        </div>
      </div>
      <div class="grid-nav-nav-parent">
        <!-- Navbar top icons -->
        <div class="hamburger" id="hamburger" onclick="toggleNavbar()">
          <button type="button" id="toggle-navbar" class="toggle-navbar"><i class="fas fa-bars"></i></button>
        </div>

        {% block nav_buttons %}
        <div class="grid-nav-account-button">
          <button type="button"><i class="fa-solid fa-user"></i></button>
        </div>

        <div class="grid-nav-basket-button">
          <button type="button">
            <i class="fa-solid fa-basket-shopping"></i>
          </button>
        </div>
        {% endblock %}
      </div>


    </div>

    <div class="grid-sidebar" id="sidebar">
      <div class="grid-sidebar-divider-parent">
        <div class="grid-sidebar-divider">
          <hr class="divider">
        </div>
      </div>
      <div class="grid-sidebar-nav-parent">
        <div>
          <div class="grid-sidebar-nav-heading small-text">
            <span>NAVIGATION</span>
          </div>
          <a class="grid-sidebar-nav-item" href="/">
            <label><i class="fa-solid fa-house pr-2"></i><span>Home</span></label>
            <div class="hover-circle click"></div>
          </a>

          <a class="grid-sidebar-nav-item" href="{{url_for('views.about')}}">
            <label><i class="fa-solid fa-book pr-2"></i><span>About Us</span></label>
            <div class="hover-circle click"></div>
          </a>

          <a class="grid-sidebar-nav-item" href="">
            <label><i class="fa-solid fa-phone pr-2"></i><span>Contact</span></label>
            <div class="hover-circle click"></div>
          </a>

          <a class="grid-sidebar-nav-item" href="{{url_for('views.legal')}}">
            <label><i class="fa-solid fa-file-contract pr-2"></i><span>Legal</span></label>
            <div class="hover-circle click"></div>
          </a>
        </div>

        {% block booking %}
        <div>
          <div class="grid-sidebar-nav-heading small-text">
            <span>BOOKING</span>
          </div>
          <a class="grid-sidebar-nav-item" href="#booking">
            <label><i class="fa-solid fa-plus pr-2"></i><span>Create</span></label>
            <div class="hover-circle click"></div>
          </a>

          <a class="grid-sidebar-nav-item">
            <label><i class="fa-solid fa-bookmark pr-2"></i><span>History</span></label>
            <div class="hover-circle click"></div>
          </a>
          
          <a class="grid-sidebar-nav-item">
            <label><i class="fa-sharp fa-solid fa-tags pr-2"></i><span>Discounts</span></label>
            <div class="hover-circle click"></div>
          </a>
        </div>
        {% endblock %}

        {% block account %}
        <div>
          <div class="grid-sidebar-nav-heading small-text">
            <span>ACCOUNT</span>
          </div>

          {% if session['logged_in'] %}
            <a class="grid-sidebar-nav-item" href="{{url_for('auth.account')}}">
              <label><i class="fa-solid fa-user"></i><span>Dashboard</span></label>
              <div class="hover-circle click"></div>
            </a>
            
            <a class="grid-sidebar-nav-item sign-out-user" href="{{url_for('auth.logout')}}">
              <label><i class="fa-solid fa-right-from-bracket"></i><span>Sign Out</span></label>
              <div class="hover-circle click"></div>
            </a>
          {% endif %}

          {% if not session['logged_in'] %}
            <!-- <a class="grid-sidebar-nav-item" href="{{url_for('auth.account')}}">
              <label><i class="fa-solid fa-user"></i><span>Dashboard</span></label>
              <div class="hover-circle click"></div>
            </a> -->
            
            <a class="grid-sidebar-nav-item" href="{{url_for('auth.login')}}">
              <label><i class="fa-solid fa-right-from-bracket"></i><span>Login</span></label>
              <div class="hover-circle click"></div>
            </a>
          {% endif %}

        </div>
        {% endblock %}

      </div>

      {% block sidebar_footer %}
      <div class="grid-sidebar-footer-parent">
        <div class="grid-sidebar-footer">
          <div class="grid-sidebar-footer-left">
            <div class="small-text">
              {% if session['logged_in'] %}Logged in as: {% else %}<strong>Login to make bookings.</strong>{% endif %}
            </div>
            <div class="small-text username">
              {% if session['logged_in'] %}<strong>{{session["first_name"] | capitalize}}</strong>{% endif %}
            </div>
          </div>
          <div class="grid-sidebar-footer-right">
            <a type="button" href="{{url_for('auth.login')}}">
              {% if not session['logged_in'] %}<i class="fa-solid fa-user"></i>{% endif %}
              {% if session['logged_in'] %}<img class="grid-sidebar-account-button-img" src="{{url_for('static', filename='img/profileimg.png')}}">{% endif %}
            </a>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    <main class="grid-main" id="main">

      <!-- Navigation sidebar overlay -->
      <div id="overlay-backdrop"></div>
      
      <!-- Main page content -->
      {% block main %}{% endblock %}

      
    <div class="grid-footer" id="footer">
      <footer class="grid-footer-parent">
        <label class="copyright"><span>© 2022 Copyright: Horizontravels.com</span></label>
        <label class="terms-and-conditions"><a href="{{url_for('views.legal')}}">Terms & Conditions</a></label>
      </footer>
    </div>
    </main>

  </div>
  {% endblock %}


  <script src="{{url_for('static',filename='js/theme.js')}}"></script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/7a98244e75.js" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>