{% extends "base.html" %}
{% block head %}
    <link href="{{url_for('static',filename='css/booking.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/ui_components.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
    <section class="main">

        <div class="container-booking-grid">
            <div class="booking-nav">
                <div class="box" id="booking-nav">
                    <div class="header">
                        <div class="title">
                            <div class="title-text">Search for travel</div>
                        </div>

                        <div class="dotted-button">
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>

                    <!-- Display on mobile first -->
                    <div class="pages-mobile-booking-search p-3">

                        <div class="box reset">
                            <div class="location">
                                <input type="text" class="location-from-input" placeholder="Enter location">
                                <div class="location-divider-main">
                                    <div class="location-divider"></div>
                                </div>
                                <input type="text" class="location-to-input" placeholder="Enter destination">
                            </div>
                        </div>
                        
                        <div class="box reset">
                            <div class="out-return">
                                <div class="out">
                                    <div class="header">
                                        <div class="out-bound-head">Outbound</div>
                                    </div>
                                    <div class="header">
                                        <div class="out-bound-day">31st</div>
                                    </div>
                                    <div class="header">
                                        <div class="out-bound-month">December</div>
                                    </div>
                                </div>
                                <div class="return">
                                    <div class="header">
                                        <div class="returning-head">Return</div>
                                    </div>
                                    <div class="header">
                                        <div class="returning-day">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div class="header"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="box reset">
                            <div class="passengers-seats">
                                <div class="passengers">
                                    <div class="header">
                                        <div class="passengers-head">Passengers</div>
                                    </div>
                                    <div class="header">
                                        <div class="passengers-amount">5 Adults</div>
                                    </div>
                                </div>
                                <div class="seats">
                                    <div class="header">
                                        <div class="seat-class-head">Seat Class</div>
                                    </div>
                                    <div class="header">
                                        <div class="seat-class-type">Economy</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box reset">
                            <div class="search d-flex justify-content-center align-items-center flex-column">
                                <a class="btn btn-danger btn-outline-none btn-lg btn-block">Create a booking now</a>
                                <p class="text-muted d-block text-center">All travel is subject to limited availability.</p>
                            </div>
                        </div>

                    </div>




                    <!-- Display on mobile second -->
                    <!-- <div class="pages-mobile-booking-results"></div> -->
                    
                    <!-- Display on mobile last -->
                    <!-- <div class="pages-mobile-booking-basket"></div> -->


                    <!-- Desktop display mode -->
                    <div class="pages-booking-search">123</div>


                </div>
            </div>

            <div class="booking-leaving" id="booking-leaving">
                <div class="box">
                    <div class="header">
                        <div class="title">
                            <div class="title-text">DEPARTURE</div>
                        </div>

                        <div class="dotted-button">
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>

                    <div class="pages-booking-departure"></div>
                </div>
            </div>
            <div class="booking-return" id="booking-return">
                <div class="box">
                    <div class="header">
                        <div class="title">
                            <div class="title-text">RETURNING</div>
                        </div>

                        <div class="dotted-button">
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>

                    <div class="pages-booking-returning"></div>
                </div>
            </div>
            <div class="booking-basket" id="booking-basket">
                <div class="box">
                    <div class="header">
                        <div class="title">
                            <div class="title-text">BASKET</div>
                        </div>

                        <div class="dotted-button">
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>

                    <div class="pages-booking-basket"></div>
                </div>
            </div>
        </div>
    </section>

    
    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
{% endblock %}