{% extends "base.html" %}
{% block link %}<link href="{{url_for('static',filename='css/booking.css')}}" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3 p-3">
        <div class="row">
            <div class="col">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th><strong>Out</strong></th>
                            <th><strong>Time of departure</strong></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                          <td>John</td>
                          <td>john@example.com</td>
                        </tr>
                        <tr>
                          <td>July</td>
                          <td>july@example.com</td>
                        </tr>
                      </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th><strong>Return</strong></th>
                            <th><strong>Time of departure</strong></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                          <td>John</td>
                          <td>john@example.com123123</td>
                        </tr>
                        <tr>
                          <td>July</td>
                          <td>july@example.com</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}