{% extends 'component_base.html' %}
{% block head %}<link href="{{url_for('static',filename='css/cbase_index.css')}}" rel="stylesheet">{% endblock %}

{% block main %}
    <!-- Landing/Hero content -->
    <section class="landing">
        <img src="{{url_for('static', filename='img/index/pexels-aleksandar-pasaric-1119723.jpg')}}">
        
        <!-- Landing page row col -->
        <div class="landing-content">
            <div class="row">
                <!-- Grid left -->
                <div class="col-md-12 landing-col top">
                    <div class="landing-header">Horizon Travels</div>
                    <div class="landing-text">Get cheap tickets with us.</div>
                </div>

                <div class="col-md-12 landing-col bottom">
                    <!-- Tab menu -->
                    <!-- <div class="tab-container">
                        <div class="tab">
                            <div class="tab-link"></div>
                            <div class="tab-link"></div>
                            <div class="tab-link"></div>
                        </div>

                        <div class="tab-content"></div>
                    </div> -->
                    <!-- <div class="landing-text">Get cheap tickets to travel with us.</div> -->
                    <a class="btn btn-inline-block book">Create a booking now</a>
                    <a class="btn btn-inline-block trip" href="#travel" style="transition: 1s ease-in-out;">Planning a trip?</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Travel locations -->
    <section class="travel" id="travel">
        <!-- <div class="head">TRAVEL HEAD</div> -->
        <div class="travel-container">
            <div class="row gx-5">
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-julien-goettelmann-12155522.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Bristol</h5>
                            <p class="card-text">A famous landmark in bristol to discover is this amazing suspension bridge. It was designed by Brunel and took 33 years to complete!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-david-rico-2682675.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Edinburgh</h5>
                            <p class="card-text">asd</p>

                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-bill-emrich-230794.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">London</h5>
                            <p class="card-text">A famous landmark in London.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-ratworks-media-387232.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Glasgow</h5>
                            <p class="card-text">asd</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-anthony-holmes-2893285.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Newcastle</h5>
                            <p class="card-text">asd</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-miguel-arcanjo-saddi-11014210.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Manchester</h5>
                            <p class="card-text">asd</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{url_for('static',filename='js/cbase_index.js')}}"></script>
{% endblock %}