{% extends 'component_base.html' %}
{% block head %}<link href="{{url_for('static',filename='css/cbase_index.css')}}" rel="stylesheet">{% endblock %}

{% block main %}
    <div class="container-fluid no-padding landingwrapper">
        <!-- Landing page container -->
        <section class="landing">
            <img src="{{url_for('static', filename='img/index/pexels-pixabay-219692.jpg')}}">
            <!-- <div class="landing-grid-container"> -->
                <!-- <div class="grid-item container brand"> -->
                    <!-- <p class="display-3 brand">Horizon Travels</p> -->
                    <!-- <p class="display-4 slogan">Travel today for less</p> -->
                <!-- </div> -->
                <!-- <div class="grid-item container x">123</div>
                <div class="grid-item container y">123</div>
                <div class="grid-item container z">123</div> -->
                <!-- <div class="grid-item"></div> -->
            <!-- </div> -->


            <div class="grid-landing-container">
                <div class="landing-middle">
                  <div class="brand">
                    <div class="container">
                        <p class="brand-text display-4"><i>Travel more for less</i></p>
                    </div>
                  </div>

                  <div class="landing-content p-4">
                    <div class="container-fluid rounded">

                    </div>
                  </div>

                </div>
                <div class="landing-bottom">
                  <div class="Card-1">
                    <!-- <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div> -->
                  </div>
                  <div class="Card-2">
                  </div>
                  <div class="Card-3">
                  </div>
                </div>
              </div>
        </section>
    </div>
{% endblock %}