{% extends 'base.html' %}
{% block head %}<link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">{% endblock %}

{% block main %}

    <!-- Webpage overlay -->
    <div id="overlay-backdrop"></div>

    <!-- Landing/Hero content -->
    <section class="landing">
        <img src="{{url_for('static', filename='img/index/pexels-aleksandar-pasaric-1119723.jpg')}}">
        
        <!-- Landing page row col -->
        <div class="landing-content">
            <div class="row">
                <div class="col-md-12 landing-col top">
                    <div class="landing-header">Horizon Travels</div>
                    <div class="landing-text">Get cheap tickets with us.</div>
                </div>

                <div class="col-md-12 landing-col bottom">
                    <a class="btn btn-inline-block book" href="#booking">Create a booking now</a>
                    <a class="btn btn-inline-block trip" href="#travel" style="transition: 1s ease-in-out;">Planning a trip?</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Booking section -->
    <section class="booking" id="booking">
        <div class="booking-content">
            <div class="section-head p-3">
                <div class="head-text">Where would you like to go?</div>
            </div>

            <form class="p-3" action="#" method="post">

                <!-- UI Search Navigation -->
                <div class="params radios" id="swing-radios" onclick="swingRadios();">
                    <div class="radios-left">
                        <input type="radio" id="params-traveller-return" name="params-traveller-return">
                        <label for="params-traveller-return">Return Trip</label>
                    </div>

                    <div class="radios-right">
                        <input type="radio" id="params-traveller-oneway" name="params-traveller-oneway">
                        <label for="params-traveller-oneway">Oneway Trip</label>
                    </div>
                </div>
                <div class="divider-parent d-flex justify-content-center align-items-center">
                    <div class="divider"></div>
                </div>
                <div class="params" onclick="pageSelector('page-locations', 'locations-from'); pageSelector('page-locations', 'locations-to');">
                    <div class="params-box radians">
                        <div class="locations">
                            <div class="locations-from" id="locations-from">
                                <div class="container-head">
                                    <div class="container-title float-left">
                                        <p class="container-title-text">FROM</p>
                                    </div>

                                    <div class="container-title float-right">
                                        <p class="container-title-icon"><i class="fa-solid fa-location-pin"></i></p>
                                    </div>
                                </div>
                                <div class="container-body d-flex justify-content-center flex-column">
                                    <label class="container-body-text" id="label-location-from">Origin location in,</label>
                                </div>
                                <div class="container-foot d-flex justify-content-center flex-column">
                                    <label class="container-foot-text" id="label-location-from">United Kingdom</label>
                                </div>
                            </div>
                            <div class="vertical-divider"></div>
                            <div class="locations-to" id="locations-to">
                                <div class="container-head">
                                    <div class="container-title float-left">
                                        <p class="container-title-text">TO</p>
                                    </div>

                                    <div class="container-title float-right">
                                        <p class="container-title-icon"><i class="fa-solid fa-location-pin"></i></p>
                                    </div>
                                </div>
                                <div class="container-body d-flex justify-content-center flex-column">
                                    <label class="container-body-text" id="label-location-to">Destination in,</label>
                                </div>
                                <div class="container-foot d-flex justify-content-center flex-column">
                                    <label class="container-foot-text" id="label-location-to">United Kingdom</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="params">
                    <div class="params-box radians">
                        <div class="swing" onclick="pageSelector('page-swing', 'swing-from'); pageSelector('page-swing', 'swing-to');">
                            <div class="swing-from" id="swing-from">
                                <div class="container-head">
                                    <div class="container-title float-left">
                                        <p class="container-title-text">DEPART</p>
                                    </div>

                                    <div class="container-title float-right">
                                        <p class="container-title-icon"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                                    </div>
                                </div>
                                <div class="container-body d-flex justify-content-center flex-column">
                                    <label class="container-body-text" id="label-swing-from">Add departure date.</label>
                                </div>
                                <div class="container-foot d-flex align-items-center justify-content-start flex-row">
                                    <label class="container-foot-text">
                                        <!-- USE FORM TO GET NUMBER OF PASSENGERS -->
                                        <i class="fa-solid fa-user"></i>
                                        <p id="label-swing-people">1</p>
                                    </label>
                                    <label class="container-foot-text">
                                        <!-- USE FORM TO GET TYPE OF SEAT CLASS -->
                                        <i class="fa-solid fa-plane"></i>
                                        <p id="label-swing-seat-type">Economy</p>
                                    </label>
                                </div>
                            </div>

                            <div class="vertical-divider"></div>
                            
                            <div class="swing-to" id="swing-to">
                                <div class="container-head">
                                    <div class="container-title float-left">
                                        <p class="container-title-text">RETURN</p>
                                    </div>

                                    <div class="container-title float-right">
                                        <p class="container-title-icon"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                                    </div>
                                </div>
                                <div class="container-body d-flex justify-content-center flex-column">
                                    <label class="container-body-text" id="label-swing-to">No return added.</label>
                                </div>
                                <div class="container-foot d-flex align-items-center justify-content-end flex-row" id="container-foot-datetime">
                                    <button type="button" class="btn btn-sm btn-danger btn-datetime-remove" id="btn-datetime-remove" onclick="removeReturnOptions();"><p id="label-datetime-remove">Remove?</p></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="params">
                    <div class="params-box radians search no-effect">
                        <button type="submit" class="btn search-btn" id="search-availability-btn" onclick="checkForReturns();"><i class="fa fa-search" aria-hidden="true"></i> Search availability</button>
                    </div>
                </div>
            
                <!-- UI LOCATIONS PAGE -->
                <div class="pages-selector container-page-locations p-3" id="page-locations">
                    <!-- Page selector location head -->
                    <div class="container-head">
                        <div class="container-title float-left">
                            <p class="container-title-text">
                                Please select your location options: 
                            </p>
                        </div>
                    </div>

                    <div class="params">
                        <div class="params-box radians">
                            <div class="locations">
                                <div class="locations-from container-w-100">
                                    <div class="container-head">
                                        <div class="container-title float-left">
                                            <p class="container-title-text">FROM</p>
                                        </div>
        
                                        <div class="container-title float-right">
                                            <p class="container-title-icon"><i class="fa-solid fa-location-pin"></i></p>
                                        </div>
                                    </div>

                                    
                                    <div class="container-body d-flex justify-content-center align-items-center" style="height: calc(100% - 24px);">
                                        <div class="input-group ml-2 mr-2">
                                            <input type="text" class="form-control" title="Enter a location" list="search-filter" placeholder="Enter a location" id="input-box-from" name="input-box-from">
                                            <!-- DROP DOWN SEARCH FILTER -->
                                            <datalist id="search-filter">
                                            {% for item in search_items %}
                                                <option> {{ item }}</option>
                                            {% endfor %}
                                            </datalist>
                                            <!-- DROP DOWN SEARCH FILTER -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="params">
                        <div class="params-box radians">
                            <div class="locations">
                                <div class="locations-to container-w-100">
                                    <div class="container-head">
                                        <div class="container-title float-left">
                                            <p class="container-title-text">TO</p>
                                        </div>
        
                                        <div class="container-title float-right">
                                            <p class="container-title-icon"><i class="fa-solid fa-location-pin"></i></p>
                                        </div>
                                    </div>

                                    <div class="container-body d-flex justify-content-center align-items-center" style="height: calc(100% - 24px);">
                                        <div class="input-group ml-2 mr-2">
                                            <input type="text" class="form-control" title="Enter a location" list="search-filter" placeholder="Enter a location" id="input-box-to" name="input-box-to">
                                            <!-- DROP DOWN SEARCH FILTER -->
                                            <datalist id="search-filter">
                                            {% for item in search_items %}
                                                <option> {{ item }}</option>
                                            {% endfor %}
                                            </datalist>
                                            <!-- DROP DOWN SEARCH FILTER -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="params">
                        <div class="params-box radians search no-effect  d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100">
                                <button type="button" class="btn btn-sm btn-danger w-100 m-0 d-block" id="btn-confirmation-locations" onclick="locationsConfirmButtonEvent();">Confirm</button>
                            </div>
                            <div class="container-foot-text w-100">
                                <p class="small text-muted d-block">It is worth noting that any booking made in advance will be cheaper.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- UI SWING PAGE -->
                <div class="pages-selector container-page-swing p-3" id="page-swing">
                    <!-- Page selector swing head -->
                    <div class="container-head">
                        <div class="container-title float-left">
                            <p class="container-title-text">
                                Please select your travel options: 
                            </p>
                        </div>
                    </div>

                    <div class="container-head d-flex justify-content-center align-items-center flex-row">
                        <div class="ml-1 mr-1">
                            <label for="passengers-label"><p class="container-title-text ml-1 mr-1">Passengers: </p></label>
                            <select id="passengers-amount" name="passengers-amount">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="ml-1 mr-1">
                            <label for="seat-class-label"><p class="container-title-text ml-1 mr-1">Seat: </p></label>
                            <select id="seat-class-type" name="seat-class-type">
                                <option selected>Economy</option>
                                <option>Business</option>
                            </select>
                        </div>
                    </div>

                    <div class="params">
                        <div class="params-box radians">
                            <div class="swing">
                                <div class="swing-from container-w-100">
                                    <div class="container-head">
                                        <div class="container-title float-left">
                                            <p class="container-title-text">DEPART</p>
                                        </div>
        
                                        <div class="container-title float-right">
                                            <p class="container-title-icon"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                                        </div>
                                    </div>

                                    
                                    
                                    <div class="container-body mt-2">
                                        <label for="depart-date">Departure date:</label>
                                        <input type="date" id="depart-date" class="form-control" name="swing-from-datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="params">
                        <div class="params-box radians">
                            <div class="swing">
                                <div class="swing-to container-w-100">
                                    <div class="container-head">
                                        <div class="container-title float-left">
                                            <p class="container-title-text">RETURN</p>
                                        </div>
        
                                        <div class="container-title float-right">
                                            <p class="container-title-icon"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                                        </div>
                                    </div>

                                    <div class="container-body mt-2">
                                        <label for="return-date">Return date:</label>
                                        <input type="date" id="return-date" class="form-control" name="swing-to-datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="params">
                        <div class="params-box radians search no-effect d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100">
                                <button type="button" class="btn btn-sm btn-danger w-100 m-0 d-block" id="btn-confirmation-swing" onclick="swingConfirmButtonEvent();">Confirm</button>
                            </div>
                            <div class="container-foot-text w-100">
                                <p class="small text-muted d-block">It is worth noting that any booking made in advance will be cheaper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </form>
        </div>

    </section>

    <!-- Travel locations -->
    <section class="travel" id="travel">
        <!-- <div class="head">TRAVEL HEAD</div> -->
        <div class="travel-container">
            <div class="row gx-5">
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-julien-goettelmann-12155522.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Bristol - Suspension Bridge</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Bridge Rd, Leigh Woods, BS8 3PA</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-david-rico-2682675.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Edinburgh - Castle</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Castlehill, EH1 2NG</span></p>

                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-bill-emrich-230794.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">London - Eye</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Riverside Building, County Hall, SE1 7PB</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-ratworks-media-387232.jpg" alt="A place in Scotland">
                        <div class="card-body">
                            <h5 class="card-title">Glasgow - The Mitchell Library</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">North St, G3 7DN</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-anthony-holmes-2893285.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Newcastle - Tyne Bridge</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">A167, NE8 2BE</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-miguel-arcanjo-saddi-11014210.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Manchester - Old Trafford</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Sir Matt Busby Way, Old Trafford, Stretford, M16 0RA</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
{% endblock %}