{% extends 'base.html' %}
{% block head %}<link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">{% endblock %}

{% block main %}

    <!-- Landing/Hero content -->
    <section class="landing">
        <img src="{{url_for('static', filename='img/index/pexels-aleksandar-pasaric-1119723.jpg')}}">
        
        <!-- Landing page row col -->
        <div class="landing-content">
            <div class="row">
                <div class="col-md-12 landing-col top">
                    <div class="landing-header">Horizon Travels</div>
                    <div class="landing-text">Get cheap tickets with us.</div>
                </div>

                <div class="col-md-12 landing-col bottom">
                    <a class="btn btn-inline-block book" href="#booking">Create a booking now</a>
                    <a class="btn btn-inline-block trip" href="#travel" style="transition: 1s ease-in-out;">Planning a trip?</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Booking section -->
    <section class="booking" id="booking">
        <div class="booking-content">
            <div class="section-head p-3">
                <div class="head-text">Where would you like to go?</div>
            </div>

            <form>
                <div class="booking-nav-container">
                    <div class="params-location">
                        <div class="row w-100 h-100 m-0">
                            <!-- Location From and To -->
                            <div class="col-12 d-block p-0">
                                <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">
                                    <div class="form-group w-100">
                                        <label for="location-from">From e.g. Bristol.</label>
                                        <input type="text" class="form-control" placeholder="Location" id="location-from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-block p-0">
                                <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">
                                    <div class="form-group w-100">
                                        <label for="location-to">To e.g. Aberdeen.</label>
                                        <input type="text" class="form-control" placeholder="Location" id="location-to">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="params-swing">
                        <div class="row w-100 h-100 m-0">
                            <!-- Outbound and Return -->
                            <div class="col-6 d-inline-block p-0">
                                <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">OUTBOUND</div>
                            </div>
                            <div class="col-6 d-inline-block p-0">
                                <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">RETURN</div>
                            </div>
                        </div>
                    </div>
                    <div class="params-traveller">
                        <div class="row w-100 h-100 m-0">
                            <!-- Passengers Amount and Seat -->
                            <div class="col-12 d-block p-0">
                                <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">
                                    <div class="form-group w-100">
                                        <label for="passengers">Passengers</label>
                                        <input type="text" class="form-control" placeholder="" id="passengers">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-block p-0">
                                <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">
                                    <div class="form-group w-100">
                                        <label for="seats">Seat Class</label>
                                        <input type="text" class="form-control" placeholder="" id="seats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-options">
                        <div class="container-fluid h-100 d-flex justify-content-center align-items-center p-0">
                            <button type="submit" class="btn btn-danger w-50"><i class="fa fa-search" aria-hidden="true"></i> Search for availability</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </section>

    <!-- Travel locations -->
    <section class="travel" id="travel">
        <!-- <div class="head">TRAVEL HEAD</div> -->
        <div class="travel-container">
            <div class="row gx-5">
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-julien-goettelmann-12155522.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Bristol - Suspension Bridge</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Bridge Rd, Leigh Woods, BS8 3PA</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-david-rico-2682675.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Edinburgh - Castle</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Castlehill, EH1 2NG</span></p>

                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-bill-emrich-230794.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">London - Eye</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Riverside Building, County Hall, SE1 7PB</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-ratworks-media-387232.jpg" alt="A place in Scotland">
                        <div class="card-body">
                            <h5 class="card-title">Glasgow - The Mitchell Library</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">North St, G3 7DN</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-anthony-holmes-2893285.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Newcastle - Tyne Bridge</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">A167, NE8 2BE</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card">
                        <img src="/static/img/index/cards/pexels-miguel-arcanjo-saddi-11014210.jpg" alt="A place in England">
                        <div class="card-body">
                            <h5 class="card-title">Manchester - Old Trafford</h5>
                            <p class="card-text"><i class="fa-solid fa-location-pin"></i><span class="address">Sir Matt Busby Way, Old Trafford, Stretford, M16 0RA</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
{% endblock %}