{% extends "base.html" %}
{% block head%}
    <link href="{{url_for('static',filename='css/login.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
    <section class="main">
        <div class="main-container">
            <div class="head">
                <p>Login to continue</p>
            </div>

            <div class="content" id="login">
                <form action="#" method="post">
                    
                    <div class="form-group">
                        <label for="loginEmail"><small class="form-text text-light">Email Address</small></label>
                        <input type="email" id="loginEmail" name="loginEmail" placeholder="Enter your email" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password"><small class="form-text text-light">Password</small></label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required class="form-control">
                        <div class="content-slider" onclick="passwordContainer();"><small class="password" id="forgot-password-small">Forgot Password?</small></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control bg-gradient">Login</button>
                    </div>

                    <div class="form-group text-center text-light">
                        <label class="form-label"><strong>No account? <span>Register <a href="{{url_for('auth.register')}}" class="text-decoration-none">here</a>.</strong></span></label>
                    </div>
                </form>
            </div>

            <div class="content" id="forgot-password">
                <div class="button-wrapper">
                    <button class="back-button" id="return" onclick="loginContainer();"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                </div>
                <form action="#" method="">
                    <div class="form-group">
                        <label for="resetEmail"><small class="form-text text-light">Email Address</small></label>
                        <input type="email" id="resetEmail" name="resetEmail" placeholder="Enter your email" required class="form-control">
                    </div>
    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control bg-gradient">Reset Password</button>
                    </div>

                    <!-- <div class="form-group text-center text-light">
                        <label class="form-label"><strong>Already have an account? <span>Login <a href="{{url_for('auth.login')}}" class="text-decoration-none">here</a>.</strong></span></label>
                    </div> -->
                </form>
    
            </div>
        </section>

    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
{% endblock %}

{% block booking %} {% endblock %}
{% block sidebar_footer %} {% endblock %}
{% block nav_buttons %} {% endblock %}