{% extends 'base.html' %}
{% block head %}
<link href="{{url_for('static', filename='css/payment_wall.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}

    <section class="payment-wall p-3">

        <div class="payment-box p-3">
            <p class="text-dark text-center">
                Payment successful!
            </p>
            <p class="text-dark">
                Click HERE to generate a report of the payment.
            </p>
            <p class="text-dark">
                Click HERE to view your bookings in account.
            </p>

            <p>Payment type: paypal</p>
            <p>Mobile: 0999999</p>
            <p>Email: 123@123.com</p>

            <p>Amount Paid: 150.00</p>

            <button>Download</button>
            <button>Close</button>
        </div>
    </section>

{% endblock %}
{% block booking %} {% endblock %}
{% block sidebar_footer %} {% endblock %}
{% block nav_buttons %} {% endblock %}