{% extends "base.html" %}
{% block header %}{% endblock %}

{% block body %}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .body-wrapper {
        min-height: 100vh;
    }

    form {
        max-width: 1000px;
    }
</style>

<div class="body-wrapper d-flex justify-content-center align-items-center p-5 m-2">
    <div class="row w-100">
        <div class="col-4 d-block d-flex justify-content-center align-items-center p-3 mx-auto">
            <div class="w-100">
                <h1 class="display-6 text-center">
                    Create an Account
                </h1>
            </div>
        </div>
        <div class="col-sm-8 d-block mx-auto">
            <form action="#", method="post">
                <div class="mb-2 form-group">
                    <label class="form-label">Email Address:</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{
                        request.form.email }}" >
                </div>
    
                <div class="mb-2 form-group">
                    <label class="form-label">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{
                        request.form.username }}" >
                </div>
        
                <div class="mb-2 form-group">
                    <label class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" value="{{
                        request.form.password }}" >
                </div>
        
                <div class="mb-2 form-group">
                    <label class="form-label">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" value="{{
                        request.form.confirmPassword }}" required>
                </div>
        
                <div class="mb-2 form-group">
                    <label class="form-label">First Name:</label>
                    <input type="text" id="legalFirstName" name="legalFirstName" class="form-control" value="{{
                        request.form.legalFirstName }}" required>
                </div>
        
                <div class="mb-2 form-group">
                    <label class="form-label">Last Name:</label>
                    <input type="text" id="legalLastName" name="legalLastName" class="form-control" value="{{
                        request.form.legalLastName }}" required>
                </div>
        
                <div class="mb-2 form-outline">
                    <label class="form-label" for="dateOfBirth">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" class="form-control" value="{{
                        request.form.dob }}" >
                </div>
    
                <div class="mb-2 form-group">
                    <label class="form-label">Phone Number:</label>
                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" value="{{
                        request.form.phoneNumber }}" required>
                </div>
    
                <div class="m-2 form-group form-check">
                    <input class="form-check-input" type="checkbox" id="isTOSChecked" name="isTOSChecked"value="{{
                        request.form.isTOSChecked }}" required>
                    <label class="form-check-label">You must agree to the <a href="{{url_for('views.legal')}}">terms and conditions</a></label>
                </div>

                <div class="mt-5 mb-2 form-group">
                    <input type="submit" class="btn btn-primary form-control" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}